.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}
.mt5 {
  margin-top: 5px;
}

.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}
.mb5 {
  margin-bottom: 5px;
}

.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}
.ml5 {
  margin-left: 5px;
}

.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}
.mr5 {
  margin-right: 5px;
}

.width100vw {
  width: 100vw;
}

.width90vw {
  width: 90vw;
}

.width80vw {
  width: 80vw;
}

.width70vw {
  width: 70vw;
}

.width60vw {
  width: 60vw;
}

.width50vw {
  width: 50vw;
}
.width40vw {
  width: 40vw;
}
.width30vw {
  width: 30vw;
}
.width20vw {
  width: 20vw;
}
.width10vw {
  width: 10vw;
}
