.header-container {
  height: 100vh;

  /* background-color: rgb(202, 202, 123); */
  background-color: #efe3a1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
  font-size: 18px;
}

.outer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid brown;
  border-radius: 20px;
  padding: 20px 5px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  width: 40%;
}

.wrapper {
  padding: 20px 10px;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  margin: 20px 5px;
  width: 60vw;
  align-items: center;
  justify-content: center;
}

.logo-img {
  width: 250px;
}

.wrapper input[type='text'] {
  padding: 10px 25px;
  background: transparent;
  width: 50%;
  border: none;
  line-height: 1.2em;
  border-bottom: 1px solid black;
  font-size: inherit;
  margin-right: 5px;

  /* border-radius: 50px 0 0 50px; */

  color: black;
}
.wrapper input[type='text'].error {
  border-bottom: 1px solid rgb(179, 58, 58);
}

.wrapper select {
  padding: 10px 5px;
  width: 20vw;
  border: none;
  margin-right: 5px;
}

.wrapper button {
  padding: 10px 5px;
  width: 200px;
  border: none;

  margin-right: 5px;
  border-radius: 50px;

  background-color: brown;
  color: white;
  cursor: pointer;
}

.wrapper input[type='text']:focus,
.wrapper button:focus {
  outline: none;
}

.submit-btn {
  transition: transform 0.1s ease 0.1s;
  font-size: inherit;
}

.submit-btn:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 414px) {
  .outer-wrapper {
    padding: 5px;
    width: 90vw;
    height: 80vh;
  }

  .wrapper {
    font-size: 15px;
  }
  .logo-img {
    width: 150px;
  }

  .submit-btn {
    width: 60% !important;
  }

  .wrapper input[type='text'] {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .outer-wrapper {
    width: 80%;
  }
  .wrapper input[type='text'] {
    width: 90%;
  }
}

@media only screen and (min-width: 1920px) {
  .outer-wrapper,
  .wrapper {
    width: 900px;
  }
}
